<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread] [%-5level] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the logging level for Kafka to WARN -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.kafka.clients" level="WARN"/>
    <logger name="org.apache.kafka.streams" level="WARN"/>
    <logger name="org.apache.kafka.common" level="WARN"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>